.gift {
  background-color: blue;
  margin: 32px auto;
  border-radius: 12px;
  padding: 64px 15vw;
  padding-bottom: 0;
  color: white;
}
.button {
  color: blue;
  background-color: white;
  padding: 16px 32px;
  font-weight: bold;
}

.gift {
  width: 85vw;
}

.building {
  width: 90vw;
  margin-left: -17.5vw;
  margin-top: 24px;
  margin-bottom: -12px;
}